@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.message {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 1000px;
    background-color: brown;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;


}

.imageAndText img {
    width: 50px;
    height: 50px;

}

.text {
    background-color: #0066CC;
    border-radius: 5px;
    padding: 10px;
}

.text:after {}

.name {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;

}

.messageText {

    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.time {
    font-size: 10px;

}